---
---
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'topmenu';
@import 'menuabout';
@import 'sidebar';
@import 'header';
@import 'footer';
@import 'content';
@import 'posts';
@import 'slick';
@import 'slick-theme';

* {
  box-sizing: border-box;
}

body {
  color: #555;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 { color: #393939; }
h3, h4, h5 {  margin: 20px 0 10px; }
h2 {
  margin-top: 45px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

p { margin: 5px 0; }

ul {
  margin: 0;

  ul {
    padding-left: 24px;
    list-style: none;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $dark-orange;
}

.wrapper {
  height: 100%;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 960px) {
	padding: 10px;
    margin: auto;
    width: auto;
  }
}

.container_docs {
  margin-left: $sidebar-width;
  @media(max-width: 880px) {
    margin: auto;
  }
}
.splitter {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #424242;
  border-top: 1px solid #212121;
}

.tube {
  position:relative;
  padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
  @media(max-width: 768px) {
    margin: auto;
    width: auto;
  }
}
.tube iframe, .tube object, .tube embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill:  #c3c3c4;
    padding-right: 0;
    vertical-align: text-decoration;
}

.hidden {
  display: none;
}

.pull-right {
  margin-left: auto;
}

.white {
  background-color: white;
}

code {
  border-radius: 2px;
  color: #444;
  font-weight: bold;
  word-wrap: break-word;
  &.hljs {
    padding: 1em;
    font-size: 14px;
    line-height: 1.75;
  }
}

.slides {padding: 0;}
.animation_slides .slick-dots {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  padding: 0;
  @media(max-width:880px){
	  bottom: 20px;
  }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
  @media(max-width:880px){
    padding: 20px;
    max-width: 400px;
  }
}

.center {display:table;text-align:center;vertical-align: top;}

.col2 {width:49.9%;}
.col3 {width:26.99999%;}
.col4 {width:22.99999%;}
.col4, .col3, .col2, .col1 {
  padding: 15px;
  display:table-cell;
  vertical-align: top;
  @media(max-width:768px){
	display:block;
	width:97%;
  }

.button {
	display: inline-block;
	background-color: rgba (0,0,0,0.7);
  }
}

.cards {
  border-top: 3px solid #000;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
  display: inline-block;
  height: 320px;
  img {
    max-width:100%;max-height:160px;width:auto;height:auto;display:inline-block;margin:0 32px 32px 0;
  }
  @media(max-width:768px){
    border-top: none;
    height: auto;
    width: 100%;
    max-width: 320px;
    img {
      width: 100%;
      max-height: none;
    }
  }
}
.cards:hover {
  transform: scale(1.07);
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.22),1px 0 2px 0 rgba(0,0,0,0.22),0 1px 2px 0 rgba(0,0,0,0.44);
}
.cards-margin {
  padding: 8px;
}

.open-popup-tube {
  &:hover {
    -webkit-filter: sepia(0.5);
    filter: sepia(0.5);
  }
}

.share-box a {
  display: inline-block;
  /*-webkit-box-shadow: 0 0 1px #777;
  box-shadow: 0 0 1px #777;*/
  padding: 5px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none; }
  .share-box a:hover {
    border: 0;
    text-decoration: none;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }

.f {
  color: #3b5998; }
  .f:hover {
    color: #fff;
    background-color: #3b5998; }

.t {
  color: #4099FF; }
  .t:hover {
    color: #fff;
    background-color: #4099FF; }

.g {
  color: #d34836; }
  .g:hover {
    color: #fff;
    background-color: #d34836; }

.r {
  color: #ff5700; }
  .r:hover {
    color: #fff;
    background-color: #ff5700; }

.l {
  color: #0077b5; }
  .l:hover {
    color: #fff;
    background-color: #0077b5; }

.e {
  color: #444444; }
  .e:hover {
    color: #fff;
    background-color: #444444; }
