<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {%if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/atom-one-dark.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/magnific-popup.css" | relative_url }}">
  {% seo %}
  {%- feed_meta -%}
</head>
