<div class="animation_slides"  id="animation_slides">
  <ul class="slides">
    <li>
    <div class="header title" style="">
      <h1>INTRODUCING TO OBMIN</h1>
      <div class="slide-container" style="">
        <div class="slide-content">
          <img src="{{ "/assets/images/slide1.png" | relative_url }}" data-animation="faderight" style=""></img>
          <div class="slide-content-row" data-animation="fadeleft">
            <h1 data-animation="fadeleft">
              GETING STARTED
            </h1>
            <p>
              Own free secure sharing for any kind of tasks.
            </p>
            <a class="active" data-animation="fadetop" href="{{ "/resources" | relative_url }}">Download It Now</a>
            <a href="{{ "/docs/00_quick_start/" | relative_url }}">Quick Start Guide</a>
            <a href="{{ "/about" | relative_url }}">Discover Features</a>
          </div>
        </div>
      </div>
      </div>
    </li>
  <li>
    <div class="header title" style="background: linear-gradient(0.5turn, #3f87a6, #5b7861, #f69d3c);">
      <h1>EXPLORE OBMIN</h1>
      <div class="slide-container" style="">
        <div class="slide-content">
          <img src="{{ "/assets/images/slide2.png" | relative_url }}" data-animation="faderight" style=""></img>
          <div class="slide-content-row" data-animation="fadeleft">
            <h1 data-animation="fadeleft">
              LEARN MORE ABOUT
            </h1>
            <p>
              Share anything to any device.
            </p>
            <a class="active" data-animation="fadetop" href="{{ "/blog" | relative_url }}">Read, Disqus Blog</a>
            <a href="{{ "/explore" | relative_url }}">Explore All Resources</a>
            <a href="{{ "/docs/00_quick_start/" | relative_url }}">Look at Documentation</a>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="header title" style="background: radial-gradient(ellipse at top, #e66475, #561445);">
      <h1>GET IT NOW</h1>
      <div class="slide-container" style="">
        <div class="slide-content">
          <img src="{{ "/assets/images/slide3.png" | relative_url }}" data-animation="faderight" style=""></img>
          <div class="slide-content-row" data-animation="fadeleft">
            <h1 data-animation="fadeleft">
              CHOOSE YOUR OBMIN
            </h1>
            <p>
              Run it on any Debian Flavor.
            </p>
            <a class="active"  data-animation="fadetop" href="https://github.com/konkor/obmin/raw/master/releases/obmin_latest_all.deb">Debian, Ubuntu, Mint, EOS Package</a>
            <a href="https://extensions.gnome.org/extension/1254/obmin/">Install GNOME Extension</a>
            <a href="https://hub.docker.com/r/obmin/obmin/">Try Docker Container</a>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="header title" style="background: radial-gradient(ellipse at top, #64e675, #144556);">
      <h1>GET MORE OF OBMIN</h1>
      <div class="slide-container" style="">
        <div class="slide-content">
          <img src="{{ "/assets/images/slide4.png" | relative_url }}" data-animation="faderight" style=""></img>
          <div class="slide-content-row" data-animation="fadeleft">
            <h1 data-animation="fadeleft">
              RUN IT EVERYWHERE
            </h1>
            <p>
              Run it from a terminal or on any Desktop.
            </p>
            <a class="active"  data-animation="fadetop" href="/docs/01_install/#installation-from-sources">Built it yourself</a>
            <a href="/docs/01_install/#running-without-installation">Run it without installing</a>
            <a href="/docs/01_install/#non-debian-based-distributions">Install to non-DEB Linux</a>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="header title" style="background: radial-gradient(ellipse at top, #576425, #566475);">
      <h1>OPEN SOURCE PROJECT</h1>
      <div class="slide-container" style="">
        <div class="slide-content">
          <img src="{{ "/assets/images/gpl-v3-logo.png" | relative_url }}" data-animation="faderight" style=""></img>
          <div class="slide-content-row" data-animation="fadeleft">
            <h1 data-animation="fadeleft">
              FREE AS IN FREEDOM
            </h1>
            <p>
              Be sure it will work as excepted.
            </p>
            <a class="active"  data-animation="fadetop" href="https://github.com/konkor/obmin/blob/master/">Get Sources</a>
            <a href="{{ "/about#open-source" | relative_url }}">Open For You</a>
            <a href="https://github.com/konkor/obmin/raw/master/LICENSE" data-mfp-src="#license-popup" class="open-popup-link">GPLv3 License</a>
          </div>
        </div>
      </div>
    </div>
  </li>
  </ul>
</div>

<div id="license-popup" class="white-popup mfp-hide">
<h1>GNU GENERAL PUBLIC LICENSE</h1>
<h3>Version 3</h3>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
<br>
<br>This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
<br>
<br>You should have received a copy of the GNU General Public License
along with this program.  If not, see <a href="https://www.gnu.org/licenses/gpl.html">https://www.gnu.org/licenses/</a>.
</div>
