<div class="header title banner">
  <a href="{{ "/donations" | relative_url }}">
    <div class="slide-content">
      <h1 align="center">Supported by</h1>
      <!--special start-->
      <p align="center">
        <big><b>
          <a href="{{ "/supporters" | relative_url }}">Jonathan Alden</a>,
          <a href="{{ "/supporters" | relative_url }}">Manuel Transfeld</a><br>
          <br></b>
        </big>
        <br>
        <a href="{{ "/supporters" | relative_url }}">and more wonderful people...</a><br>
      </p>
      <!--special end-->
  </div></a>
</div>
