<div class="header title banner">
  <a href="{{ "/donations" | relative_url }}">
    <div class="slide-content">
      <h1 align="center">Supporting OBMIN Server</h1>
      <!--special start-->
      <p align="center">
        <big>
          Top 5 supporters could be here with your name or logo and reference.
          <br /><br />
          <i>Also the one top will be placed in GUI like 'Sponsored by ...' while there's no one real sponsor!</i>
        </big>
        <br /><i>Top sponsors will be updated in the beginning of every month.</i>
      </p>
      <!--special end-->
  </div></a>
</div>
