@import 'variables';

.content {
  padding: 40px;
  line-height: 1.9;
  @media(max-width: 768px) {
    padding: 15px;
  }

  p {
	margin: 0 0 16px;
  }
  a {
    color: $dark-orange;
    font-weight: 700;
    &:hover {
      border-bottom: 2px solid;
    }
  }

  h1 {
    a {
      color: #474747;
    }
  }

  .description {
    margin: 0 0 16px;
    padding: 15px;
    color: #545454;
    font-size: 16px;
    font-weight: 700;
    border-left: 4px solid $dark-orange;
  }

  .content-header {
    display: flex;
    align-items: center;
    margin: 0 0 35px 0;
    h1 {
      margin: 0 40px 0 0;
      float: left;
      text-shadow: 1px 1px 1px rgba(68, 68, 68, 0.3);
    }
    .page-buttons {
      display: flex;
    }
  }

  .splitter {
    margin: 15px 0;
    background: #cfcfcf;
    border: 0;
  }

  .center {display:table;width:97%;text-align:center;vertical-align: top;}

  .col2 {width:49.9%;}
  .col3 {width:26.99999%;}
  .col4 {width:22.99999%;}
  .col4, .col3, .col2, .col1 {
    padding: 15px;
    display:table-cell;
    @media(max-width:768px){
      display:table-row;
      width:97%;
    }
  }

}
