---
layout: default
---
<section class="post">

  <ul class="post-list" style="padding:0;">
    {% for doc in site.posts %}
      <li>
        <a href="{{ doc.url | relative_url }}">
          <h3 class="post-title">{{ doc.title }}</h3>
          <div class="post-meta"> <b> {{ doc.author }} </b> Updated {{ doc.date | date_to_long_string }}</div>
          {% if doc.image %}
            <img alt="" src="{{ doc.image | relative_url }}" align="left">
          {% endif %}
          {% if doc.description %}
            <p class="post-desc">{{ doc.description }} ...</p>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="post-content">
    {{ content }}
  </div>

  {% if page.description %}
    <p class="description">{{ page.description }}</p>
  {% endif %}

</section>
