---
layout: default
---
<section class="post">

  <ul class="post-list">
    {% for doc in site.posts %}
      <li>
        <a href="{{ doc.url | relative_url }}">
          <h3 class="post-title">{{ doc.title }}</h3>
        </a>
		<div class="post-meta"> <b> {{ doc.author }} </b> Updated {{ doc.date | date_to_long_string }}</div>
        {% if doc.image %}
          <img alt="" src="{{ doc.image | relative_url }}" align="left" style="max-width:100%;max-height:160px;width:auto;height:auto;display:inline-block;margin:0 32px 32px 0">
        {% endif %}
        {% if doc.description %}
          <p class="">{{ doc.description }}<a href="{{ doc.url | relative_url }}"> Full Story...</a></p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="post-content">
    {{ content }}
  </div>

  {% if page.description %}
    <p class="description">{{ page.description }}</p>
  {% endif %}

</section>
