<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="root">
      <div class="wrapper">

        {% include sidebar.html %}


        <div class="container_docs">
          <div class="content">
			<div>
  			  <h1>{{ page.title | escape }}</h1>
  			</div>
            {{ content }}
          </div>

        </div>
      </div>
    </div>
    <script src="{{ "/assets/highlight.min.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
      window.onload = function () {
        var routes = document.querySelector('.routes')
        var menuIcon = document.querySelector('.menu-icon')
        menuIcon.addEventListener("click", function(e) {
          e.preventDefault()
          routes.classList.toggle('open')
        });
      };
    </script>
  </body>
</html>
