<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="root">
      <div class="wrapper">
      <div class="header" style="height:70px;padding:0;">
      </div>
        {% include sidebar.html %}
        <div class="container_docs">
          <div class="content" style="padding-top:12px">
            <div>
              <h1>{{ page.title | escape }}</h1>
            </div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <script src="{{ "/assets/highlight.min.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
      window.onload = function () {
        var routes = document.querySelector('.routes-bar')
        var menuIcon = document.querySelector('.menu-icon')
        menuIcon.addEventListener("click", function(e) {
          e.preventDefault()
          routes.classList.toggle('open')
        });
      }
      window.onscroll = check_padding;
      window.onresize = check_padding;
      function check_padding() {
        var sticky = 75 - window.pageYOffset;
        if (window.innerWidth < 881) sticky = 0;
        var sidebar = document.querySelector(".sidebar");
        //console.log (JSON.parse(JSON.stringify(window.pageYOffset + " >= " + sticky)));
        if (sticky < 0) sticky = 0;
        sidebar.style.padding = sticky + "px 0 0 0";
      }
    </script>
    {% include analytics.html %}
  </body>
</html>
